/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_sv.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        vt_left: vt_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(LEFT_ARROW))>;
            label = "VT_LEFT";
        };

        vt_right: vt_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(RIGHT_ARROW))>;
            label = "VT_RIGHT";
        };

        vt_add: vt_add {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LC(D))>;
            label = "VT_ADD";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                                                                        &kp N6  &kp N7     &kp N8         &kp N9         &kp N0           &kp DELETE
&kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                                                                                         &kp Y   &kp U      &kp I          &kp O          &kp P            &kp SV_A_RING
&kp LCTRL  &kp A   &kp S   &kp D     &lt 2 F   &kp G                                                                                         &kp H   &lt 1 J    &kp K          &kp L          &kp SV_O_UMLAUT  &kp SV_A_UMLAUT
&kp LSHFT  &kp Z   &kp X   &kp C     &kp V     &kp B   &mt SV_LEFT_BRACKET SV_LEFT_PARENTHESIS    &mt SV_RIGHT_BRACKET SV_RIGHT_PARENTHESIS  &kp N   &kp M      &kp SV_COMMA   &kp SV_PERIOD  &kp MINUS        &kp RSHFT
                           &kp LALT  &kp LGUI  &mo 1   &kp BACKSPACE                              &kp SPACE                                  &mo 2   &kp ENTER  &kp RIGHT_ALT
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp F1          &kp F2              &kp F3                           &kp F4                     &kp F5                          &kp F6                                                   &kp F7            &kp F8             &kp F9              &kp F10                    &kp F11       &kp F12
&kp SV_SECTION  &kp SV_EXCLAMATION  &mt SV_AT_SIGN SV_DOUBLE_QUOTES  &mt SV_POUND_SIGN SV_HASH  &mt SV_CURRENCY_SIGN SV_DOLLAR  &kp SV_PERCENT                                           &kp SV_FSLH       &kp SV_LEFT_BRACE  &kp SV_RIGHT_BRACE  &mt SV_BACKSLASH SV_QMARK  &kp SV_PLUS   &mt SV_CARET SV_TILDE
&trans          &trans              &trans                           &trans                     &trans                          &trans                                                   &kp SV_AMPERSAND  &trans             &trans              &trans                     &kp SV_MINUS  &mt SV_ASTRK SV_SINGLE_QUOTE
&vt_left        &vt_right           &vt_add                          &trans                     &trans                          &trans          &kp SV_LESS_THAN    &kp SV_GREATER_THAN  &trans            &trans             &trans              &trans                     &kp EQUAL     &kp PIPE
                                                                     &trans                     &trans                          &trans          &trans              &trans               &trans            &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans  &trans  &ext_power EP_ON  &ext_power EP_OFF  &ext_power EP_TOG                    &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans            &trans             &trans                               &trans      &trans        &kp UP        &trans        &trans        &trans
&trans  &trans  &trans  &trans            &trans             &trans                               &trans      &kp LEFT      &kp DOWN      &kp RIGHT     &trans        &trans
&trans  &trans  &trans  &trans            &trans             &trans             &trans    &trans  &trans      &trans        &trans        &trans        &trans        &trans
                        &trans            &trans             &trans             &trans    &trans  &trans      &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
